{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
</head>
<body class="container">

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<ul>
  	<li><a id="nava" href="{% url 'blogapp:home' %}">HOME</a></li>
  	<li><a id="nava" href="{% url 'blogapp:contact' %}">CONTACT</a></li>
  	<li><a id="nava" href="{% url 'blogapp:about' %}">ABOUT</a></li>
  	<li><a id="nava" href="{% url 'blogapp:cosmos' %}">COSMOS</a></li>
    <li><a id="nava" href="{% url 'blogapp:noticelist' %}">NOTICE</a></li>


</ul>
	
	{% block content %}

	{% endblock %}

<br>
<br>

</body>
</html>