{% extends 'clienttemplates/base.html' %}



{% block content %}

<h3>Please contact us through the form below. </h3>

<form method="POST">
	{% csrf_token %}
	{{form.as_p}}
<button>Submit</button>
</form>
{% endblock %}