{% extends 'clienttemplates/base.html' %}



{% block content %}

<h3 id="welcome">Welcome to Sunil Thapa jr. Website.</h3>


<div class="row">
	<div class="col-md-8">
		



		{% for blog in bloglist %}

		<h3>{{blog.title}} ({{blog.author}})</h3>
		<p>{{blog.content|truncatechars:"25"}}
		<a href="{% url 'blogapp:blogdetail' blog.id %}">Read more..</a>
		</p>


		{% endfor  %}
	</div>
	<div class="col-md-4">
		
		<h3>All Notices</h3>
		{% for notice in notices %}

		<h6><a href="{% url 'blogapp:noticedetail' notice.id %}">{{notice.title}}</a></h6>
		{% endfor %}


		<h3>All Categories</h3>

		{% for category in categories %}
		<h6><a href="{% url 'blogapp:categorydetail' category.id %}">{{category.title}}</a></h6>
		<img src="{{category.image.url}}" width="100">
		{% endfor %}

		<hr>
		<h3>All Books</h3>

		{% for book in books %}
		<h6><a href="{% url 'blogapp:bookdetail' book.id %}">{{book.name}} ({{book.category.title}})</a></h6>
		<img src="{{book.image.url}}" width="100">
		{% endfor %}


	</div>
</div>

{% endblock %}

