{% extends 'clienttemplates/base.html' %}



{%  block content %}

<h3>{{notice.title}}</h3>
<a href="{% url 'blogapp:noticeupdate' notice.id %}">Edit This Post</a>
<a href="{% url 'blogapp:noticedelete' notice.id %}">Delete This Post</a>
<p>Date: {{notice.date}}</p>
<p>{{notice.content}}</p>
<img src="{{notice.image.url}}">

{% endblock %}