{% extends 'clienttemplates/base.html' %}

{% block content %}
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<h2>Notice </h2>

<table>
  <tr>
    <th>SN</th>
    <th>title</th>
    <th>content</th>
    <th>date</th>
  </tr>
  {% for a in noticelist %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td><a href="{% url 'blogapp:noticedetail' a.id %}">{{a.title}}</a></td>
    <td><a href="{% url 'blogapp:noticedetail' a.id %}">{{a.content|truncatechars:'30'}}</a></td>
    <td>{{a.date|date}}</td>
  </tr>
  {% endfor %}
  
</table>
{% endblock %}