{% extends 'clienttemplates/base.html' %}



{% block content %}

<h3 id="welcome">Welcome to Sunil Thapa jr. Website.</h3>


<div class="row">
	<div class="col-md-8">
		
		<u><h3>{{category.title}}</h3></u>
		<img src="{{category.image.url}}" class="img-responsive img-thumbnail">
		<p>{{category.about}}</p>

		<h4>All books related to {{category.title}}</h4>
		{% for book in category.books.all %}
		<li><a href="{% url 'blogapp:bookdetail' book.id %}">{{book.name}}</a></li><br>
		{% endfor %}

		
	</div>
	<div class="col-md-4">
		
		This is side bar



	</div>
</div>

{% endblock %}

