{% extends 'clienttemplates/base.html' %}



{% block content %}

<h3 id="blog-title">{{blog.title}}</h3><hr>
<p>Posted On: {{blog.date}}</p>
<br>
<img src="{{blog.image.url}}" width="500">
<p>{{blog.content}}</p>
<p>{{blog.author}}</p>
<div class="fb-share-button" data-href="{{request.build_absolute_uri}}" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="{{request.build_absolute_uri}}" class="fb-xfbml-parse-ignore">Share</a></div>

<br>

<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configlkmjlkkl" data-numposts="5"></div>

{% endblock %}