{% extends 'admintemplates/base.html' %}


{% block content %}

<div class="row">
	<div class="col-md-8">
		
	
		<h3>{{book.name}}</h3>
		<p>{{book.about}}</p>
		<h5>{{book.writer}}</h5>
		<img src="{{book.image.url}}" class="img-thumbnail">
		<h5>Category: {{book.category.title}}</h5>
		

	</div>
	<div class="col-md-4">
		<h3><u>Related Books</u></h3>
		{% for book in book.category.books.all %}
		<li><a href="{% url 'blogapp:adminbookdetail' book.id %}">{{book.name}}</a></li><br>
		{% endfor %}
		

	</div>
</div>




{% endblock %}


