{% extends 'admintemplates/base.html' %}



{% block content %}
<form method="POST" action="{% url 'blogapp:adminblogdelete' object.id %}">
	{% csrf_token %}
	<button>Confirm Delete?</button>
</form>
<a href="{% url 'blogapp:adminblogupdate' object.id %}">Cancel</a>

{% endblock %}