{% extends 'admintemplates/base.html' %}

{% block content %}
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<h2>Blog <a href="{% url 'blogapp:adminblogcreate' %}"> Create New Blog</a></h2>

<table>
  <tr>
    <th>SN</th>
    <th>Title</th>
    <th>Content</th>
    <th>Author</th>
    <th>Date</th>
    <th>Edit Blog</th>
    <th>Delete Blog</th>
  </tr>
  {% for blog in bloglist %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{blog.title}}</td>
    <td>{{blog.content|truncatechars:'30'}}</td>
    <td>{{blog.author}}</td>
    <td>{{blog.date|date}}</td>
    <td><a href="{% url 'blogapp:adminblogupdate' blog.id %}"><button>Edit</button></a></td>
    <td><a href="{% url 'blogapp:adminblogdelete' blog.id %}"><button>Delete</button></a></td>
  </tr>
  {% endfor %}
  
</table>
{% endblock %}