{% extends 'admintemplates/base.html' %}


{% block content %}
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>


<table>
  <tr>
    <th>SN</th>
    <th>name</th>
    <th>content</th>
    <th>date</th>
  </tr>
  {% for a in messagelist %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td><a href="{% url 'blogapp:adminmessagedetail' a.id %}">{{a.name}}</a></td>
    <td><a href="{% url 'blogapp:adminmessagedetail' a.id %}">{{a.message|truncatechars:'30'}}</a></td>
    <td>{{a.date|date}}</td>
  </tr>
  {% endfor %}
  
</table>


{% endblock %}