{% extends 'admintemplates/base.html' %}




{% block content %}

<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{form.as_p}}
	<button>Submit</button>
	
</form>


{% endblock %}