{% extends 'admintemplates/base.html' %}

{% block content %}
<style>
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>

<table>
  <tr>
    <th>SN</th>
    <th>Name</th>
    <th>About</th>
    <th>Category</th>
    <th>Writer</th>
  </tr>
  {% for a in adminbooklist %}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{a.name}}</td>
    <td>{{a.about|truncatechars:'30'}}</td>
    <td>{{a.category}}</td>
    <td>{{a.writer}}</td>
  </tr>
  {% endfor %}
  
</table>
{% endblock %}