{% extends 'admintemplates/base.html' %}


{% block content %}

<h3>{{message.name}}</h3>
<p>Date: {{message.date}}</p>
<h4>{{message.subject}}</h4>
<h4>{{message.email}}</h4>
<h4>{{message.message}}</h4>

{% endblock %}