<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h3>admin login</h3>
	<form method="POST">
		
		{% csrf_token %}
		<h4 style="color: red;">{{error}}</h4>
		{{form.as_p}}
		<button>login</button>
	</form>

</body>
</html>