<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
	{% if request.user.is_authenticated %}
	<h5>{{request.user.username}}</h5>
	<a href="{% url 'blogapp:adminlogout' %}">Logout</a>
	{% else %}

	<a href="{% url 'blogapp:adminlogin' %}">Login</a>
	{% endif %}

	<div class="row">
		<div class="col-md-3">
			<h3>sidebar</h3>
			<ul>
				<li><a href="{% url 'blogapp:adminhome' %}">HOME</a></li>
				<li><a href="{% url 'blogapp:adminbloglist' %}">BLOGS</a></li>
				<li><a href="{% url 'blogapp:adminnoticelist' %}">NOTICES</a></li>
				<li><a href="{% url 'blogapp:adminmessagelist' %}">MESSAGES</a></li>
				<li><a href="{% url 'blogapp:adminbooklist' %}">BOOKS</a></li>
				<li><a href="{% url 'blogapp:admincategorylist' %}">Category</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			<h3>Content</h3>
			{% block content %}

			{% endblock %}
		</div>
	</div>



</body>
</html>