body{
	background-color: yellow;
}

#blog-title
{
	color: red;
	font-style: italic;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

#nava {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nava:hover {
    background-color: #111;
}

#welcome{
    color: white;
    font-size: 30px;
}